<!DOCTYPE html>
<html lang="en" ng-app>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ASE_lab2_Register</title>
        <script src="lib/jquery.min.js"></script>
        <script src="js/app.js"></script>
        <script src="lib/angular.min.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheet.css" >
    </head>


    <body >
                    <!-- Page transition script -->
        <script>
            jQuery('body').css('display','none');
            jQuery(document).ready(function() {
                jQuery('body').fadeIn();
                jQuery('a').on('click',function(event){
                    var thetarget = this.getAttribute('target')
                    if (thetarget != "_blank"){
                        var thehref = this.getAttribute('href')
                        event.preventDefault();
                        jQuery('body').fadeOut(function(){
                            //alert(thehref)
                            window.location = thehref
                        });
                    }
                });
            });
            setTimeout(function(){
                jQuery('body').fadeIn();
            },1000)
        </script>


        <h2>Please Register</h2>
        <hr>

        <div class="row">
            <section id="box">
                <fieldset>
                    <form name="form" novalidate>
                        <legend>Create Account</legend>

                        <label>Name</label>
                        <input id="fullname1" type="text" ng-model="newUser.fullname" placeholder="Enter Your Full Name Here" required>
                        <hr>

                        <label>Email</label>
                        <input id="email1" type="email" ng-model="newUser.email" placeholder="Enter Your Email Here" required>
                        <hr>

                        <label>UserName</label>
                        <input type="text" id="username1" name="username" ng-model="newUser.name" placeholder="Enter New UserName Here" required>
                        <hr>

                        <label>Password</label>
                        <input
                                id="password1"
                                type="password"
                                ng-model="newUser.password"
                                name="password"
                                placeholder="Enter New Password Here"
                                required
                                ng-minlength="6">
                        <p
                                class="help-block"
                                ng-show="form.password.$error.minlength || form.password.$invalid">
                                    Password must be at least 6 characters.
                        </p>
                        <p></p>

                        <button ng-disabled="form.$invalid" class="btn btn-primary" value="save" onclick="store()">Submit</button>

                    </form>
                </fieldset>
            </section>
        </div>

        <hr>
        <a href="login.html"> <button >LOGIN</button> </a>
        <script src="http://code.angularjs.org/1.6.6/angular.min.js"></script>





    </body>
</html>