<div class="box">
    <h2>Please Login To ASE_LAB3</h2><hr>

    <label>UserName:</label>
    <input type="text" id="username2" name="username" ng-model="newUser.name"  placeholder=" Enter UserName" required><p></p>
    <label>PassWord:</label>
    <input type="password" id="password2" name="password" ng-model="newUser.password" placeholder=" Enter Password" required>

    <button style="background-color: green" ng-disabled="form.$invalid" class="btn btn-primary" onclick="entry()">
        <a style="color: white">Login</a>
    </button>

    <button class="btn btn-primary" >
        <a style="color: white" href="#/register">Register</a>
    </button>

    <button class="loginBtn loginBtn--facebook" ng-click="onFBLogin()">
        Login with Facebook
    </button>

    <button class="loginBtn loginBtn--google" ng-click="onGoogleLogin()">
        Login with Google
    </button>
</div>




