<div class="container">
    <div class="box">
        <div class="row"><h2>Please Login To ASE_LAB3</h2><hr>
        </div>

        <div class="row">
            <label>UserName:</label>
            <input type="text" id="username2" name="username" ng-model="newUser.name"  placeholder=" Enter UserName" required><p></p>
            <label>PassWord:</label>
            <input type="password" id="password2" name="password" ng-model="newUser.password" placeholder=" Enter Password" required><p></p><p></p>
        </div>

        <div class="row">
            <button style="background-color: green; color:white" ng-disabled="form.$invalid" class="btn" onclick="entry()">
                Login
            </button>
        </div>

        <div class="row">
            <p></p><p></p><p>Please Click on Link to <a href="#/register">Register</a></p>
        </div>

        <div>
            <button class="loginBtn loginBtn--facebook" ng-click="onFBLogin()">
                Login with Facebook
            </button>
            <button class="loginBtn loginBtn--google" ng-click="onGoogleLogin()">
                Login with Google
            </button>
        </div>
    </div>
</div>


